{% extends 'header.html' %}

{% block content %}

{% if objects %}
 <div class="row">
        {% for object in objects %}

            <div class="col s12 m6 l4">
                <a href="{% url 'tutorials:tutorial' object.id %}", style="color:#000">
                    <div class="card hoverable ">
                        <div class="card-content">
                            <div class="card-title">{{object.tut_series}}</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>-->
                            <p>{{object.real_sum}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
<p>
    No Tutorials Found Under this Category

</p>
{% endif %}

{% endblock %}

