{% extends "header.html" %}
{% block content %}


{% load static %}
<link href="{% static 'tinymce/css/prism.css'%}" rel="stylesheet">

{% if objects %}

 <div class="row">

        <div class="col s12, m8, l8">
            <h3>{{objects1.tut_title}}</h3>
            <p style="font-size:70%">Published {{objects1.created_at}}</p>
            {{objects1.tut_content|safe}}
        </div>

        <div class="col s12 m4 l4">
            <ul class="collapsible popout">
                {% for object in objects %}
                    {% if objects1.id == object.id %}
                        <li class="active">
                            <div class="collapsible-header">{{object.tut_title}}<br>(currently viewing)</div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">{{object.tut_title}}</div>
                            <div class="collapsible-body">
                                <p><a href="{% url 'tutorials:real_tut' object.tut_series.id object.id %}"><button class="btn waves-effect waves-light right-align" style="background-color:yellow; color:black">Go</button></a></p>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>

{% else %}
<p>
    No Tutorials under this section as if now
</p>
{% endif %}
<script>
    $(document).ready(function() {
  $('.collapsible').collapsible();
})
</script>
<script src="{% static 'tinymce/js/prism.js' %}"></script>

{% endblock %}