{% extends "header.html" %}
{% block content %}

<p>
{% if forum_list %}
<ul class="collection">
  {% for forum in forum_list %}
    <li class="collection-item ">
        <h6> <a href="{% url 'forums:forum_detail'  forum.id %}"><span class="grey-text text-darken-3">{{ forum.title }}</span></a></h6>
        {% if forum.owner == user %}
        <p>
        (<a href="{% url 'forums:forum_update' forum.id %}">Edit</a> |
        <a href="{% url 'forums:forum_delete' forum.id %}">Delete</a>)
        </p>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no forums in the database.</p>
{% endif %}
</p>
<p>

{% if user.is_authenticated %}
    <a href="{% url 'forums:forum_create' %}"class="btn btn-primary cyan darken-3">Add a Forum</a> |
<a href="{% url 'logout' %}?next={% url 'forums:all' %}" class="btn btn-primary cyan darken-3">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'forums:all' %}" class="btn btn-primary cyan darken-3" >Login</a>
{% endif %}
</p>
{% endblock %}
