{% extends "header.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if not user.is_authenticated %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form|crispy}}<br><br>
<input type="submit" class="btn btn-success" value="Login" />
<input type="hidden" name="next" value="{{next}}" />
<input type="submit" class="btn btn-primary" value="Register" onclick="window.location='{% url 'signup:signup' %}' ; return false;">
</form>

{% else %}
<p>Already Logged in
  <form method="post">
  <input type="submit" class="btn btn-primary" value="Homepage" onclick="window.location='{% url 'tutorials:homepage' %}' ; return false;">
</form>
</p>
{% endif %}
{% endblock %}

